.pav {max-height: 150px; max-width: 200px; float: right;}
.npav {height: 250px; width: 200px; margin-top: 30px; margin: 5px; float: left;}
.bigpav {max-height: 500px; width: 100%;}
.text {text-align: justify; color: black; }
h5 {color: black; font-size: 30 px;}
.placiau {margin-left: 20px;}
h3 {color: black; font-size: 15px; font-weight: bold;}
.text1 {text-align: justify; color: black; font-size: 13px;}
.footer {
	position: fixed;
    bottom:0;
    width: 100%
}
.aboutphoto {height: 180px; max-width: 200px; margin-right: 10px; float: left;}
.textphoto {text-align: justify;}
.pavab {margin-top: 30px;}
